<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
  <h2>Homepage</h2>
  {% if request.user.is_authenticated %}
    <p>Hello {{ user.username }}!</p>
    <a href="{% url 'postblog' %}">create a blog</a>
    <a href="{% url 'postqn' %}">Ask Question</a>
    <a href="{% url 'user_page' %}">View all your blogs</a>
    {% else %}
     Login to create blogs and ask tech related questions <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    {% endif %}
<div>
  {% for blog in blogs %}
  <p>
    <a href="{% url 'blog_details' blog.slug %}">
    {{blog.title}} posted by <i>{{blog.author}}</i></a></p>
  
  {% endfor %}
  <br>
  <h6>Questions</h6>
  {% for question  in questions %}
  <p>
    <a href="{% url 'question_details' question.slug %}">
    {{question.title}} posted by <i>{{question.author}}</i></a></p>
  
  {% endfor %}

</div>
    
</body>
</html>