<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post details</title>
</head>
<body>
    current user :{{user.id}}
    blog author:{{ blog.author.id}}
    {{blog.content| safe}}
    {% if total_likes == 0 %}
    no likes
    {% else %}
    {{total_likes}} Like{{total_likes |pluralize}}
    {% endif %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'like_blog' blog.slug %}" method="post">
          {% csrf_token %}
          {% if is_liked %}
          <button name="blog_slug" value="{{blog.slug}}" type="submit">Dislike</button>
          {% else %}
          <button name="blog_slug" value="{{blog.slug}}" type="submit">like</button>
          {% endif %}
        </form>
        {% if user.is_authenticated %}
          {% if user.id == blog.author.id %}
          <a href="{% url 'edit_blog' blog.id %}">edit</a>
          {% endif %}
        {% endif %}
        {% if not comments %}
        <p>No comments yet</p>
        {% else %}
        <h6>Top Comments</h6>
          {% for comment in comments %}
            <h2><i>by {{comment.author.username}}</i></h2>
            <P>{{comment.comment |safe}}
              <span><small><i>{{comment.date_added}}</i></small></span>
            </P>
            
          {% endfor %}
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.media}}
          {{form.as_p}}
          <button type="submit">Add comment</button>
      </form>
    {% endif %}
</body>
</html>